In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
def square(num):
    num = num**2
    
    return num


m = [1,2,3,4,5]
print(list(map(square,m))) #important to note this line

[1, 4, 9, 16, 25]

In [3]:
class guns():
    
    def __init__(self,types,cost,used):
        self.types = types
        self.cost = cost
        self.used = used
    
        
obj1 = guns("m416",48,"usa")
obj2 = guns("ak47",99,"russia")
k = obj1.types
p = obj1.cost
i  = obj1.used

print("the equipment {} and  cost of the equipment is {} and the country used is {}".format(k,p,i))

the equipment m416 and  cost of the equipment is 48 and the country used is usa

In [4]:
# use of the mapping function

def sqaurelist(lister):
    sumer = 0
    k = []
    
    
    for i in lister:
        square = i**2
        sumer = sumer + square
        k.append(square)
        print(k)
        print(sumer)
       
        
    return square    


k = [1,2,3,4,5,6]
sqaurelist(k)

[1]
1
[1, 4]
5
[1, 4, 9]
14
[1, 4, 9, 16]
30
[1, 4, 9, 16, 25]
55
[1, 4, 9, 16, 25, 36]
91

36

In [5]:
def sqaurelist(lister):
    sumer = 0
    k = []
    
    
    for i in lister:
        square = i**2
        sumer = sumer + square
        k.append(square)
        
       
        
    print(k)
    print(sumer)  


k = [1,2,3,4,5,6]
sqaurelist(k)

[1, 4, 9, 16, 25, 36]
91

In [6]:
#programme to find the even number in the list
def evennumber(s):
    
    for i in s:
        if i % 2 == 0:
            print(f'the number is even  {i}')
        else:
            print(f'the number is odd {i}')
            
            
s= [1,2,3,4,5,6,7,8]    
evennumber(s)

the number is odd 1
the number is even  2
the number is odd 3
the number is even  4
the number is odd 5
the number is even  6
the number is odd 7
the number is even  8

In [7]:
#using the mapping function

In [8]:
map()

TypeError: map() must have at least two arguments.

In [ ]:
dic = {"hello":1,"how are you":2}
for i in dic.keys():
    print(i)
    
for j in dic.values():
    print(j)

In [ ]:
#obbs overview again not jose portilla

In [ ]:
my_student = {"name" : "harry","grades":[10,20,30,40,50,60]}

def avrgrade(mystudent):
    return sum(my_student["grades"])/len(my_student["name"])


k = avrgrade(my_student)   
print(k)

In [ ]:
class student():
    
    def __init__(self,name,grades):
        self.name = name
        self.grades = grades
        
    def average(self):
        return sum(self.grades)/len(self.grades)
        #print(sum(self.grades)/len(self.grades))
    
    
    
student1 = student("potus",[10,20,30,40,50]) 
student2 = student("trump",[50,60,70,80,90])
print(student1.name)
print(student2.name)
#student1.name
#student1.grades

#print(student1.__class__)

In [ ]:
student.average(student1) #important point to note this thing this is one of the method to calculate

In [ ]:
print(student1.average())

In [ ]:
student1.grades #we cannot use the student.grades() like this because it is a fuction

In [ ]:
class cars():
    
    def __init__(self,doors,wheels,model,engine,colour):
        self.doors = doors
        self.wheels = wheels
        self.model = model
        self.engine = engine
        self.colour = colour;
        
    def __str__(self):
        return f'The car is having the model {self.model}'
    
    
porsche = cars(5,4,"comodore","bh16","red");
benz = cars(5,4,"loiot","bh16","red")

porsche.__str__()

In [ ]:
benz.__str__()

In [ ]:
for i in range(10):
    print(i)