In [3]:
import numpy as np

In [2]:
a1 = np.array([1,2,3]) #one dimensional array
print(a1)
print(a1.shape)
print(a1.size)
print(a1.ndim)

[1 2 3]
(3,)
3
1

In [3]:
ex1 = np.array([[1,2,3],[4,5,6]])
print(ex1)
print(ex1.ndim)
print(ex1.size)
print(ex1.shape)

[[1 2 3]
 [4 5 6]]
2
6
(2, 3)

In [4]:
a2  = np.array([[1,2,3],
               [4,5,6]]) 
print(a2)
print(a2.shape)
print(a2.size)

[[1 2 3]
 [4 5 6]]
(2, 3)
6

In [5]:
a3 = np.array([[[1,2,3],
                [4,5,6],
                [7,8,9],
                [67,89,99]],
              [[10,11,12],
               [13,14,15],
               [16,17,18],
               [19,20,21]]])
              
print(a3)
print(a3.shape)
print(a3.size)
print(a3.ndim)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]
  [67 89 99]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]
  [19 20 21]]]
(2, 4, 3)
24
3

In [6]:
a4 = np.array([
    [[1,2,3],[4,5,6],[7,8,9]],
    [[1,2,3],[4,5,6],[7,8,9]],
    [[1,2,3],[4,5,6],[7,8,9]]
])
print(a4)
print(a4.shape)
print(a4.ndim)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]
(3, 3, 3)
3

In [7]:
a4

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [8]:
import pandas as pd
a5 = pd.DataFrame(a2)
a5

   0  1  2
0  1  2  3
1  4  5  6

In [9]:
print(a5)

   0  1  2
0  1  2  3
1  4  5  6

In [10]:
#creating a array of ones and zeros
sample_array = np.ones((2,3))
print(sample_array.dtype)
print(sample_array)
print(sample_array.ndim)
print(type(sample_array))
print(sample_array.shape)

float64
[[1. 1. 1.]
 [1. 1. 1.]]
2
<class 'numpy.ndarray'>
(2, 3)

In [11]:
exp2 = np.array([[[1,2,3],
                 [4,5,6],
                 [7,8,9]]])
print(exp2.shape)
print(exp2.ndim)
print(exp2.size)

(1, 3, 3)
3
9

In [2]:
import numpy as np

In [4]:
#creating  a array of ones and zeros
one = np.ones((1,5))
print(one)

[[1. 1. 1. 1. 1.]]

In [6]:
#2d
d20 = np.ones((2,3))
print(d20)

[[1. 1. 1.]
 [1. 1. 1.]]

In [9]:
#for creating three domensional array
d30 = np.ones((3,3))
print(d30)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [10]:
import random

In [24]:
exp4 = np.random.randint(1,10,size = (3,5))
print(exp4)

[[7 2 4 6 5]
 [5 2 2 1 4]
 [4 4 1 6 4]]

In [ ]:
#numpy youtube

In [ ]:
#CREATING AN EMPTY ARRAY

In [14]:
emp = np.empty(4)
print(emp)

[6.23042070e-307 4.67296746e-307 1.69121096e-306 1.33511290e-306]

In [ ]:
#to arrange the element

In [16]:
exp5 = np.arange(10)
print(exp5)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
#linspace and diognal element used in python

In [25]:
#for creating a diognal matrix
exp8 = np.eye(3,3) #retrun only 2d array
print(exp8.ndim)
print(exp8)

2
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [37]:
exp9 =np.eye(3,3,1) # we can change the diognal to be in first second and the third row
print(exp9.ndim)
print(exp9)

2
[[0. 1. 0.]
 [0. 0. 1.]
 [0. 0. 0.]]

In [48]:
exp10 =np.eye(3,3,-1) # we can change the diognal to be in first second and the third row
print(exp10.ndim)
print(exp10)

2
[[0. 0. 0.]
 [1. 0. 0.]
 [0. 1. 0.]]

In [54]:
exp11 =np.eye(3,3,-2) # we can change the diognal to be in first second and the third row in lower rows using the index elemnt
print(exp11.ndim)
print(exp11)

2
[[0. 0. 0.]
 [0. 0. 0.]
 [1. 0. 0.]]

In [ ]:
#creating a random value in numpy
#using the import function for random use

In [55]:
import random

In [59]:
n1 = np.random.rand((10)) # return the positive value between 0 and 1
print(n1) #creating a one dimensional array

[0.26305485 0.95442823 0.53534499 0.67036195 0.07385869 0.51030102
 0.77787876 0.04745519 0.47714716 0.53915139]

In [80]:
n2 = np.random.rand(2,3) #the (2,3) indicates the size of the matrix
n2

array([[0.23292179, 0.82037845, 0.0406688 ],
       [0.67497678, 0.09834379, 0.45032276]])

In [84]:
n2 = np.random.rand(3,3,3) #the (2,3) indicates the size of the matrix
print(n2)
n2.ndim

[[[0.64647943 0.68296422 0.81713899]
  [0.50600034 0.40593404 0.86893914]
  [0.91288542 0.21182832 0.61620485]]

 [[0.34077513 0.48713579 0.67405191]
  [0.35369642 0.76126885 0.44492232]
  [0.71011127 0.18888896 0.70429885]]

 [[0.32531727 0.18060915 0.49694036]
  [0.26519844 0.33563804 0.93094494]
  [0.27770615 0.44461342 0.45297526]]]

3

In [97]:
#using the randn
n2 = np.random.randn(1)  # the 1 indicates the the dimensional of the array created and the randn retrurn the valaue positive and negative
n2

array([-0.00219199])

In [101]:
n2 = np.random.randn(2,3)  # the 1 indicates the the dimensional of the array created and the randn retrurn the valaue positive and negative
print(n2)
n2.ndim

[[ 0.49188684  0.3826841  -0.77466747]
 [ 1.23350968  1.50882567 -0.33589265]]

2

In [103]:
n2 = np.random.randn(3,2,3)  # the 1 indicates the the dimensional of the array created and the randn retrurn the valaue positive and negative
print(n2)
n2.ndim

[[[ 0.53462856 -0.30487048 -1.04833719]
  [ 0.40348055  0.30359841 -0.88203825]]

 [[ 0.89249468  0.07369736  0.3445285 ]
  [ 1.62033851 -1.41650358  0.03743037]]

 [[ 2.82617832 -0.22673382  0.2089018 ]
  [-2.79542618  0.86555164 -0.2505538 ]]]

3

In [112]:
random.sample(range(10000000),10)

[324072,
 2828876,
 2502904,
 7660966,
 9024722,
 6679001,
 8579068,
 3982459,
 6929774,
 6904247]

In [114]:
random.sample(['red', 'blue'], counts=[4, 2], k=5)

['red', 'blue', 'red', 'blue', 'red']

In [ ]:
#to use the ranint

In [137]:
n2 = np.random.randint(0,10,size = (3,3,3))  # the 1 indicates the the dimensional of the array created and the randn retrurn the valaue positive and negative
print(n2)

[[[3 2 5]
  [8 5 2]
  [3 5 0]]

 [[1 7 1]
  [6 1 6]
  [1 6 2]]

 [[6 8 0]
  [5 1 4]
  [7 0 5]]]

In [ ]:
#data type in numpy array

In [ ]:
#converting from one datatype to another datatype

In [139]:
np1 = np.array([1,2,3,4],dtype="f")
print(np1)

[1. 2. 3. 4.]

In [ ]:
#shape in numpy array